<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- fontawsome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- vue -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- my style css -->
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<body>
    <div id="root">
        <div class="big-screen">
            <i class="fa-solid fa-circle-arrow-left" @click="goDown"></i>
            <img v-for="(image, i) in images" :src="image.image" alt="" v-show="currentIndex === i" >
            <i class="fa-solid fa-circle-arrow-right" @click="goUp"></i>
        </div>
        <div class="small-screen">
            <div v-for="(image, i) in images" class="bottom-image">
                <img :src="image.image" alt="" :class="{filter: currentIndex !== i}" @click="goToPic(i)">
            </div>
        </div>

    </div>
    <!-- my javascript  -->
    <script src="js/script.js"></script>
</body>
</html>